[package]
name = "soroban-token-contract"
version = "0.0.0"
authors = ["Stellar Development Foundation <info@stellar.org>"]
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["export"]
export = []
testutils = ["soroban-sdk/testutils", "dep:ed25519-dalek"]

[dependencies]
ed25519-dalek = { version = "1.0.1", optional = true }
num-bigint = { version = "0.4", optional = true }
soroban-sdk = { git = "https://github.com/stellar/rs-soroban-sdk", rev = "6affc0c" }
# soroban-sdk = { path = "../rs-soroban-sdk/sdk" }

[dev-dependencies]
soroban-token-contract = { path = ".", features = ["export", "testutils"] }
rand = { version = "0.7.3" }
